/* 五倍紅寶石練習題 */
body{
    background-color: #19244a;
}
.form-area{
    text-align: center;
    margin: 5rem auto;
    padding: 0 5rem;
}
.btn{
    background-color: #4ebfd6;
    width: 5rem;
    height: 5rem;
    border: 3px solid #000;
    border-radius: 20px;
    font-size: 3rem;
}
/* 讓按鈕旁邊的上下鍵消失 */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.content{
    background-color: #4ebfd6;
    width: 20rem;
    height: 4.5rem;
    padding: 0.5rem 2rem;
    border: 3px solid #000;
    border-radius: 20px;
    font-size: 3rem;
}
h1{
    color: #4ebfd6;
    font-size: 3rem;
    text-align: center;
}
h2{
    margin: 2rem;
    font-size: 2rem;
    color: #e5e647;
    text-align: center;
}

@media (width <= 720px){
    .content{
        width: 10rem;
    }
}
@media (width <= 600px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .content{
        font-size: 2rem;
    }
    .btn{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 2rem;
    }
}
@media (width <= 560px){
    .content{
    height: 2.5rem;
    }
}
@media (width <= 480px){
    .content{
    width: 5rem;
    }
}
@media (width <= 410px){
    .content{
    width: 3rem;
    }
}
@media (width <= 400px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
}
@media (width <= 370px){
    .content{
        font-size: 1.5;
        width: 2rem;
    }
}
@media (width <= 350px){
    .content{
        width: 1rem;
    }
}
@media (width <= 350px){
    .content{
        padding: 0.5rem 1rem;
    }
}
