h1{
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin: 1rem;
}
.add-item-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#addContent{
    height: 3rem;
    width: 30rem;
    font-size: 1.5rem;
    border: 3px solid #000;
    border-radius: 10px;
    color: #5e5c5c;
    text-align: center;
    margin-right: 2rem;
}
.add-btn{
    border-color: #d3d3d3;
    height: 3rem;
    width: 5rem;
    border: 0;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}
.add-btn:hover{
    background-color: #3b3b3b;
    color: #fff;
    transition: all 0.2s;
}
.todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}
.todo-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.btn{
    height: 2rem;
    width: 3rem;
    font-size: 1rem;
    margin: 0.5rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.finishBtn{
    background-color: #356a90;
    color: #fff;
    width: 4rem;
}
.finishBtn:hover{
    background-color: #014779;
    height: 2.5rem;
    width: 4.5rem;
    font-size: 1.2rem;
    transition: all 0.2s;
}
.item{
    font-size: 1.5rem;
    background-color: #fff386;
    padding: 1rem 5rem;
    border-radius: 10px;
}
.finished{
    font-size: 1.5rem;
    background-color: #9e9971;
    padding: 1rem 5rem;
    border-radius: 10px;
}
.editBtn{
    background-color: #d3d3d3;
    color: #000;
}
.editBtn:hover{
    background-color: #3b3b3b;
    color: #fff;
    height: 2.5rem;
    width: 3.5rem;
    font-size: 1.2rem;
    transition: all 0.2s;
}
.closeBtn{
    background-color: #fe5757;
    color: #fff;
}
.closeBtn:hover{
    background-color: #ff0000;
    height: 2.5rem;
    width: 3.5rem;
    font-size: 1.2rem;
    transition: all 0.2s;
}